body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header header" 
        "sidebar main main main"
        "footer footer footer footer";
    grid-template-rows:1fr 13fr 1fr;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    height: 100vh;
    grid-gap: 10px;

}

.header {
    grid-area: header;
    background-color: rgb(41, 40, 40);
    color: white;
    text-align: center;
    border: 1px solid black;
}

.footer {
    grid-area: footer;
    background-color: rgb(41, 40, 40);
    color: white;
    text-align: center;
    border: 1px solid black;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(115, 112, 112);
    padding: 10px;
    color: white;
    text-align: left;
    border: 1px solid black;
}

.main {
    grid-area: main;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    margin: 15px 10px 0 10px;
}

.section {
    background-color:rgb(224, 217, 217);
    text-align: left;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
}



